spring:
  config:
    import: classpath:auth-local.yml, classpath:aws.yml

  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3307/testdb
    username: root
    password: test

  sql:
    init:
      mode: NEVER

  redis:
    host: localhost
    port: 6379

  jpa:
    hibernate:
      ddl-auto: none

    properties:
      hibernate:
        format_sql: true

        jdbc:
          batch_size: 1000

    defer-datasource-initialization: true

logging.level:
  org.hibernate.SQL: debug
  org.hibernate.type.descriptor.sql: trace
